
# 0.0. imports

## 0.1. Helper functions

## 0.2. Loading data

In [6]:
import pandas as pd
import inflection

In [7]:
df_sales_raw = pd.read_csv('/home/jan/ds_producao/ds_prod/data/rossmann-store-sales/train.csv', low_memory=False)
df_store_raw = pd.read_csv('/home/jan/ds_producao/ds_prod/data/rossmann-store-sales/store.csv', low_memory=False)

#merge dos dataframe

data_merge = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store')

In [8]:
data_merge.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
142114,510,4,2015-03-26,6128,675,1,0,0,0,a,c,8260.0,NaN,NaN,0,NaN,NaN,NaN

# 1.0. DESCRIÇÃO DOS DADOS

In [9]:
df1_copy = data_merge.copy()
data_merge.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

## 1.1. renomeando as colunas

In [10]:
colunas = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
        'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore(x)
cols_new  = list(map(snakecase, colunas))

#renomeando as colunas 

df1_copy.columns = cols_new

## 1.2. data dimensions

In [11]:
print(f'Number of rows {df1_copy.shape[0]}')
print(f'Number of cols {df1_copy.shape[1]}')

Number of rows 1017209
Number of cols 18

In [12]:
df1_copy.date = pd.to_datetime(df1_copy.date)
df1_copy.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.3. Check NA

In [13]:
df1_copy.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

### Existem 3 maneira de tratar NA

#### - Excluir. Mas perdemos dados e isso pode nos projudicar. Rapido e facil mas estamos jogando dados fora
----

#### - Usar algoritimos de ml onde nós substituimos as colunas vazias pelo proprio comportamento da coluna, como média, mediana ou o algortimo estima qual numero estaria ali. 
----

#### - E a 3 forma, é entender o porque aquele dado esta faltando.

## 1.4. Fillout NA

- CompetitionDistance            
- CompetitionOpenSinceMonth    
- CompetitionOpenSinceYear     

- Promo2SinceWeek              
- Promo2SinceYear              
- PromoInterval

In [21]:
df1_copy.date.month()

AttributeError: 'Series' object has no attribute 'month'

## 1.4. DESCRIÇÃO DOS DADOS

## 1.6. DESCRIÇÃO DOS DADOS

## 1.7. DESCRIÇÃO DOS DADOS

## 1.8. DESCRIÇÃO DOS DADOS