
# 0.0. imports

## 0.1. Helper functions

## 0.2. Loading data

In [30]:
import pandas as pd
import inflection

In [20]:
df_sales_raw = pd.read_csv('/home/jan/ds_em_producao/data/raw/rossmann-store-sales/train.csv', low_memory=False)
df_store_raw = pd.read_csv('/home/jan/ds_em_producao/data/raw/rossmann-store-sales/store.csv', low_memory=False)

#merge dos dataframe

data_merge = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store')

In [21]:
data_merge.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
409251,832,1,2014-06-30,9802,684,1,1,0,0,d,a,5070.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"

# 1.0. DESCRIÇÃO DOS DADOS

In [22]:
df1_copy = data_merge.copy()
data_merge.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

## 1.1. renomeando as colunas

In [16]:
colunas = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
        'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore(x)
cols_new  = list(map(snakecase, colunas))

#renomeando as colunas 

df1_copy.columns = cols_new

## 1.2. data dimensions

In [23]:
print(f'Number of rows {df1_copy.shape[0]}')
print(f'Number of cols {df1_copy.shape[1]}')

Number of rows 1017209
Number of cols 18

In [26]:
df1_copy.Date = pd.to_datetime(df1_copy.Date)
df1_copy.dtypes

Store                                 int64
DayOfWeek                             int64
Date                         datetime64[ns]
Sales                                 int64
Customers                             int64
Open                                  int64
Promo                                 int64
StateHoliday                         object
SchoolHoliday                         int64
StoreType                            object
Assortment                           object
CompetitionDistance                 float64
CompetitionOpenSinceMonth           float64
CompetitionOpenSinceYear            float64
Promo2                                int64
Promo2SinceWeek                     float64
Promo2SinceYear                     float64
PromoInterval                        object
dtype: object

## 1.3. Check NA

In [34]:
df1_copy.isna().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

### Existem 3 maneira de tratar NA

#### - Excluir. Mas perdemos dados e isso pode nos projudicar. Rapido e facil mas estamos jogando dados fora
----

#### - Usar algoritimos de ml onde nós substituimos as colunas vazias pelo proprio comportamento da coluna, como média, mediana ou o algortimo estima qual numero estaria ali. 
----

#### - E a 3 forma, é entender o porque aquele dado esta faltando.

## 1.4. Fillout NA

- CompetitionDistance            
- CompetitionOpenSinceMonth    
- CompetitionOpenSinceYear     

- Promo2SinceWeek              
- Promo2SinceYear              
- PromoInterval

## 1.4. DESCRIÇÃO DOS DADOS

## 1.6. DESCRIÇÃO DOS DADOS

## 1.7. DESCRIÇÃO DOS DADOS

## 1.8. DESCRIÇÃO DOS DADOS